:root {
  --light: #d9d6d2;
  --lighter: #ebe8e4;
  --dark: #4f4e4d;
  --darker: #30302f;
  --orange: #faac46;
  --green: #74e349;
  --shadow: #888888;
  --darkText: black;
  --lightText: white;
  --red: #fa1433;
}

.darkTheme {
  --dark: #d9d6d2;
  --darker: #ebe8e4;
  --lightText: black;
  --darkText: white;
  --green: var(--red);
  --lighter: #4f4e4d;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
  font-family: "Courier Prime", monospace;
}

header,
footer {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-size: 2rem;
  background-color: var(--orange);
  height: 7vh;
  margin: 0;
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--darkText);
  display: flex;
  align-items: center;
}

img {
  width: 30px;
}

.content {
  padding-top: 1vh;
  height: 85vh;
  display: flex;
  justify-content: center;
  background-color: var(--darker);
  overflow: hidden;
}

.calculator {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr;
  row-gap: 1%;
  width: 300px;
}

.display {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--dark);
  color: var(--green);
  font-weight: bolder;
  font-size: 2rem;
  box-shadow: 5px 5px var(--shadow);
  border-radius: 5% / 30%;
}

.calcButtons {
  padding: 1%;
  width: 98%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1%;
  background-color: var(--darker);
  font-size: 2rem;
}

.calButton {
  border-radius: 30%;
  background-color: var(--dark);
  box-shadow: 5px 5px var(--shadow);
  color: var(--lightText);
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#zero {
  grid-column: 1/3;
  grid-row: 5/6;
}
.operator {
  background-color: var(--orange);
}

.topRow {
  background-color: var(--lighter);
  color: var(--darkText);
}

#icon {
  position: absolute;
  right: 5%;
  cursor: pointer;
}
